.App {
  text-align: center;
  /* background-image: url(https://www.cnet.com/a/img/resize/de092f96e7ea34878af78725a167ee8f95a84731/hub/2014/12/01/9bcaf58e-5f17-46b9-82a1-546898aad693/count.jpg?auto=webp&width=1200); */
  background-repeat: round;
  height: 600px;
}

.Counter{
  background-color: aquamarine;
  border-radius: 120px;
  border-color: #282c34;
  border-style: groove;
  height: 250px;
  width: 550px;
  text-align: center;
  margin-right: 120px;
  /* margin-left: 400px; */
}

.addNum{
  background-color: rgb(217, 217, 245);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  border-radius: 50px;
}

.reset{
  background-color: rgb(217, 217, 245);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 50px;
}