.App {
  text-align: center;
}

.Counter{
  background-color: aquamarine;
  border-radius: 120px;
  border-color: #282c34;
  border-style: groove;
  height: 210px;
  width: 550px;
  text-align: center;
  
}

.addNum{
  background-color: rgb(217, 217, 245);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  border-radius: 50px;
}

.reset{
  background-color: rgb(217, 217, 245);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 50px;
}